.container {
  margin-top: 16px;
}
a.link {
  text-decoration: none;
  color: inherit;
}

a.link:hover {
  text-decoration: none;
  color: #0056b3;
}

.title-name {
  letter-spacing: 1;
  font-size: 42px;
}

.sub-title {
  font-size: 18px;
}

.nav-item {
  font-weight: 600;
  font-size: 18px;
}

.big-title {
  display: none;
}

@media (min-width: 992px) {
  .big-title {
    display: block;
  }

  .title-name {
    letter-spacing: 5;
  }

  .container {
    margin-top: 48px;
  }

  .big-title-mobile {
    display: none;
  }

  .navbar-nav {
    gap: 24px;
  }
}
